body {
    margin: 0;
    text-align: center;
}



.container {
    height: 500px;
    width: 500px; 
    background-color: black;
    margin: 0 auto;
    border-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 75px; 
    font-size: 75px;
    font-weight: bold;
    line-height: 150px;
}

form {
    padding-top: 20px;
    padding-bottom: 100px;
}

.answer {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: darkblue;
    border-radius: 50px; 
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 2px solid grey;
    line-height: 150px;
}